<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini eCommerce</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="navbar">
    <nav>
      <ul id="MenuItems">
        <li><a th:href="@{/}">Products</a></li>
        <li><a th:href="@{/my-order}">My Orders</a></li>
      </ul>
    </nav>
  </div>
  <div class="small-container">
    <h2 class="title">Orders</h2>
    <div class="row">
      <div class="col-4" th:each="order : ${orders}">
        <h4 th:text="'product id: ' + ${order.productId}"/>
        <h4 th:text="'quantity: ' + ${order.quantity}"/>
        <h4 th:text="'date: ' + ${#dates.format(order.dateOrder, 'HH:mm dd/MM/yyyy')}"/>

        <h4 th:if="${order.paid}">
          status: paid
        </h4>
        <a th:unless="${order.paid}" th:href="@{|/pay-order/${order.id}|}" class="btn">
          Pay my order
        </a>
      </div>
    </div>
  </div>
</body>
</html>